//===== base colors =====//
$color-dark-green: #033c00;
$color-gray: #7c7c7c;
$color-beige: #f1efde;
$color-dark-charcoal: #323232;
$color-dark-sea-green: #97cf8a;
$color-pigment: #059147;
$color-carrot-orange: #fb911f;
$color-light-slate-gray: #7b9a9c;
$color-deep-ruby: #804950;
$color-green-crayola: #0fb185;
$color-green-cyan: #009966;
$color-american-green: #22a942;
$color-deep-green: #006c1a;
$color-bright-gray: #ececec;
$color-floral-white: #fffceb;
$color-title: #585858;
$color-button-text: #003307;
$color-dropdown-bg: #ebebeb;

$font-geosans: "GeosansLight";
//===== base font size =====//
$fontsize-h1:										48px;
$fontsize-h2:										36px;
$fontsize-h3:										28px;
$fontsize-h4:										24px;
$fontsize-h5:										22px;
$fontsize-h6:										18px;
$fontsize-default: 16px;
$fontsize-small: 14px;

//===== default vertical gap =====//
$base-gap-huge: 								80px;
$base-gap-extra: 								60px;
$base-gap-large: 								45px;
$base-gap: 											30px;
$base-gap-small: 								15px;
$base-gap-tiny: 								10px;

@font-face {
  font-family: 'GeosansLight';
  src: url(../fonts/GeosansLight.ttf);
  font-weight: 600;
  font-style: normal;
}

header {
  .top-bar {
    padding: 25px;
    text-align: center;
    background-color: $color-dark-green;
    .top-bar-logo img {
      height: 100px;
    }
  }
  .navbar-default {
    margin-bottom: 0;
    background-color: $color-gray;
    border-color: $color-gray;
    border-radius: 0;
    .navbar-collapse {
      position: relative;
      text-align: center;
      line-height: 0;
      border-color: $color-gray;
      .navbar-nav {
        display: inline-block;
        float: none;
        .dropdown-menu {
          &>li>a {
            font-family: $font-geosans;
            font-size: $fontsize-h4;
            text-align: center;
            text-transform: capitalize;
            color: #fff;
          }
        }
        &>.open>a {
          background-color: transparent;
        }
        &>li {
          font-family: 'Arial';
          font-size: 16px;
          text-transform: uppercase;
          &>a {
            padding: 20px 15px;
            color: #fff;
          }
        }
      }
    }
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: $font-geosans;
  font-size: $fontsize-default;
  line-height: 1.2;
  letter-spacing: 0;
  background-color: #ffffff;
  color: $color-title;
  overflow-x: hidden;
  * {
    outline: inherit !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

footer {
  padding: $base-gap-huge 0;
  font-family: 'Arial';
  background-color: $color-dark-charcoal;
  color: #fff;

  .footer-col {
    padding: 40px 20px;
    h6 {
      margin-top: 0;
    }
  }

  .social-links {
    .social-link {
      display: inline-block;
      margin: 4px 2px;
      padding: 6px;
      background-color: #949494;
      border-radius: 50%;
      text-align: center;
      text-decoration: none;
      color: #fff;
      font-size: $fontsize-h4;
      i {
        width: 28px;
        height: 25px;
      }
    }
  }
  .footer-link {
    display: block;
    text-decoration: none;
    color: #fff;
  }
  .footer-contact-info {
    font-size: $fontsize-h6;
    line-height: 1.28;
  }
  .footer-contact-address,
  .footer-contact-phone {
    line-height: 1.64;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: $fontsize-h1;
}
h2 {
  font-size: $fontsize-h2;
}
h3 {
  font-size: $fontsize-h3;
}
h4 {
  font-size: $fontsize-h4;
}
h5 {
  font-size: $fontsize-h5;
}
h6 {
  font-size: $fontsize-h6;
}

.btn {
  font-size: $fontsize-h2;
  &.btn-sm {
    font-size: $fontsize-h3;
  }
  &.btn-round {
    border-radius: 35px;
  }
  &.btn-green {
    background-color: $color-deep-green;
    color: #fff;
    &:hover {
      background-color: $color-pigment;
    }
  }
  &.btn-white {
    background-color: #fff;
    color: $color-button-text;
    &:hover {
      color: #000;
    }
  }
}

.bg-gray {
  background-color: $color-gray;
}
.bg-beige {
  background-color: $color-beige;
}
.bg-dark-green {
  background-color: $color-dark-green;
}
.bg-dark-sea-green {
  background-color: $color-dark-sea-green;
}
.bg-pigment {
  background-color: $color-pigment;
}
.bg-carrot-orange {
  background-color: $color-carrot-orange;
}
.bg-light-slate-gray {
  background-color: $color-light-slate-gray;
}
.bg-deep-ruby {
  background-color: $color-deep-ruby;
}
.bg-american-green {
  background-color: $color-american-green;
}
.bg-green-cyan {
  background-color: $color-green-cyan;
}
.bg-green-crayola {
  background-color: $color-green-crayola;
}
.bg-deep-green {
  background-color: $color-deep-green;
}

.color-white {
  color: #fff;
}
.color-black {
  color: #000;
}

.top-gap-huge {
  margin-top: $base-gap-huge;
}
.bottom-gap-huge {
  margin-bottom: $base-gap-huge;
}
.top-gap-large {
  margin-top: $base-gap-large;
}
.bottom-gap-large {
  margin-bottom: $base-gap-large;
}
.top-gap {
  margin-top: $base-gap;
}
.bottom-gap {
  margin-bottom: $base-gap;
}

.welcom-to-mytaproot {
  padding: 40px 20px;
  text-align: center;
  color: #000;
}

.slider {
  img {
    width: 100%;
  }
}

#gmap {
  width: 100%;
  height: 675px;
}

.our-services {
  display: inline-block;
  margin: 30px 0;
  max-width: 1035px;
  text-align: center;
  color: #000;
  h4 {
    line-height: 1.8;
  }
}

.service-block {
  min-height: 422px;
  padding: 45px;
  margin-bottom: $base-gap-huge;
  border-radius: 35px;
  color: #fff;
  .block-title {
    font-size: $fontsize-h1;
  }
  h4 {
    line-height: 1.8;
    span {
      display: inline-block;
      max-width: 950px;
      &.description-lg {
        max-width: 1108px;
      }
      &.description-md {
        max-width: 980px;
      }
      &.description-sm {
        max-width: 940px;
      }
    }
  }
}

.how-it-works {
  margin: 70px 0;
  text-align: center;
  h4 {
    line-height: 1.5;
    span {
      display: inline-block;
      max-width: 1010px;
    }
  }
}

.member-condition {
  padding: 40px 20px;
  background-color: $color-gray;
  color: #fff;
  text-align: center;
  h2 {
    display: inline-block;
    max-width: 800px;
  }
}

.boxed-content {
  padding: 80px;
  text-align: center;
  color: #ffffff;

  .boxed-number {
    margin-bottom: 35px;
    font-family: 'Arial';
    font-size: 60px;
    font-weight: 900;
    line-height: 0.62;
  }
  .boxed-title {
    margin-bottom: 45px;
    font-size: 48px;
  }
  .boxed-description {
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 1.33;
  }
  .boxed-price {
    font-size: 36px;
    line-height: 1.03;
  }
}

.member-condition-detail {
  padding: 20px;
  font-size: $fontsize-h6;
  line-height: 1.33;
  text-align: center;
}

.step-by-step-process {
  padding: 40px 20px;
  background-color: $color-bright-gray;
  text-align: center;
  .process-title {
    margin-bottom: 0;
    font-size: $fontsize-h1;
  }
}
.step-by-step-detail {
  padding: 40px 20px;
  background-color: $color-floral-white;
  .step-title {
    font-size: $fontsize-h3;
  }
  .step-detail {
    margin-bottom: 20px;
    font-size: $fontsize-h6;
    line-height: 1.33;
  }
}

.big-title {
  font-size: $fontsize-h1;
}

.start-plan {
  height: 100%;
  margin-bottom: 30px;
  padding: 50px;
  color: #fff;

  h2 {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 480px) {
  .btn {
    min-width: 290px;
  }
}
@media screen and (min-width: 768px) {
  header .top-bar .top-bar-logo img {
    height: 120px;
  }
  header .navbar-default .navbar-collapse .navbar-nav>li {
    font-size: 10px;
  }
  header .navbar-default .navbar-collapse .navbar-nav>li>a {
    padding: 15px;
  }
  header .navbar-default .navbar-collapse .navbar-nav .dropdown-menu>li>a {
    font-size: 16px;
    text-align: left;
    color: #000;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: $color-dropdown-bg;
    box-shadow: none;
  }
}
@media screen and (min-width: 992px) {
  header .top-bar .top-bar-logo img {
    height: 150px;
  }
  .boxed-flex-md {
    display: flex;
  }
  header .navbar-default .navbar-collapse .navbar-nav>li {
    font-size: 16px;
  }
  header .navbar-default .navbar-collapse .navbar-nav>li>a {
    padding: 20px 15px;
  }
  header .navbar-default .navbar-collapse .navbar-nav .dropdown-menu>li>a {
    font-size: 24px;
  }
}
@media (min-width: 1316px) {
  header .top-bar .top-bar-logo img {
    height: auto;
  }
	.page-container {
		width: 1290px;
  }
  .container-sm {
    width: 860px;
  }
}
